.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.menuItem {
    display: inline-block;
}

.menuContainer {
    border: 1px solid #cdcdcd;
    margin: 10px 0;
    background-color: rgb(138, 136, 136);
    color: white;
}