.hotel {
    border: 1px solid #cdcdcd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: rgb(138, 136, 136);
    color: rgb(0, 0, 0);
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;

}

.desc {
    color: rgba(235, 235, 235, 0.877);
    margin-top: 10px;
    font-size: 0.88rem;
    margin-bottom: 0;

}